:root {
    --pale_blue: hsl(243, 100%, 93%); 
    --grayish_blue: hsl(229, 7%, 55%); 
    --dark_blue: hsl(228, 56%, 26%); 
    --very_dark_blue: hsl(229, 57%, 11%);
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background: url(images/bg-mobile.png), var(--dark_blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-family: 'Raleway', sans-serif;  
}

p{
    margin-bottom: 20px;
}

.container{
    position: relative; 
}

.logos {
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 20px; 
    width: 320px;
    background-color: var(--dark_blue);
    border-radius: 10px; 
    border-top-right-radius: 50px;   
}

.logo {
    margin-bottom: 30px;
}

.action_border{
    width: 50px; 
    height: 50px;  
    background-color: var(--very_dark_blue);
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 10px;   
}

.action_logos{
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
}

.data {
    background-color: var(--dark_blue);
    padding-left: 15px;
    padding-top: 50px; 
    color: var(--grayish_blue);
    text-align: center;
    border-radius: 5px;    
}

.bold{
    font-weight: 700;
    color: var(--pale_blue);  
}

.slider {
    /* deze 3 dingen heb je nodig voor de slider  */
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
	width: 230px;
	height: 14px;
    /* dit laat de echte slider niet zien */
	 background: transparent; 
    border-radius: 10px;
	padding-left: 0;
    padding-bottom: 2px;
    margin-left: -1px;
}

.storage-bar-size {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;/* ruimte tussen de 2 teksten*/
}
.storage-bar { /* buiten kant van de bar*/
    display: fle x;
    flex-direction: column;
    height: 18px;/*hoogte van de buitenste bar */
    padding: 2px; /*de rand er binnen in*/
    background-color: var(--very_dark_blue);
    border-radius: 10px;
    width: 280px; 
}
.storageBarFill {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%)); 
    z-index: 4;
    height: 18px;
    width: 230px;   
    border-radius: 25px;
    padding: 1px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; /* White background */
    cursor: pointer;
    border-radius:30px;  /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* White background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px; 
  }

  .numbers{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 280px; 
    color: var(--pale_blue);
    padding-bottom: 50px;  
  }

  .output_box {
    position: absolute;
    margin-bottom: -450px;  
    background-color: white;
    width: 200px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: flex; 
    flex-direction: row; 
   }

  .number {
    font-size: 48px;
    font-weight: 700;
    color: black;
    padding-right: 15px;   
  }

  .text{
    color: var(--grayish_blue); 
    margin-top: 25px; 
  }


  





